@model MVC_StokTakip.Models.Entity.Stok1

@{
    ViewBag.Title = "MiktarCikar";
}

<h2>MiktarCikar</h2>
<div class="container">
    @using (Html.BeginForm("MiktarCikar", "Stok", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.ID)
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.StokMiktar)
            @Html.TextBoxFor(x => x.StokMiktar, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-secondary">Miktar Çıkar</button>
        </div>
    }
</div>
